<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycft.ycft.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.ycft.ycft.po.Activity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.ycft.ycft.po.Activity" >
    insert into activity (id, tid, uid)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ycft.ycft.po.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 服务端方法开始 -->
  <!-- 批量导入 -->
	<insert id="batchInsert" parameterType="java.util.List" >
		insert into activity(tid,uid) values
		<!-- 开始批量执行 -->
		<foreach collection="list" item="item" index="index" separator=",">
		      	(<if test="item.tid != null">
					#{item.tid},
		        </if>
		        <if test="item.uid != null">
					#{item.uid}
		        </if>)
		</foreach>
	</insert>
	<delete id="delRepeat">
		DELETE FROM activity WHERE id NOT IN (SELECT minid FROM (SELECT MIN(id) AS minid FROM activity GROUP BY tid,uid) b)
	</delete>
	<!-- 服务端方法结束 -->
</mapper>