<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycft.ycft.mapper.SignEventMapper" >
  <resultMap id="BaseResultMap" type="com.ycft.ycft.po.SignEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="coordinate_name" property="coordinateName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 一个签到事件对应多个签到表的uid,一个uid对应一个用户  -->
  <resultMap id="SigneventUser" type="com.ycft.ycft.po.SignEvent" >
    <id column="eid" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="isdead" property="isdead" jdbcType="INTEGER" />
    <collection property="signList" ofType="com.ycft.ycft.po.Sign">
        
        <id column="signId" property="id" jdbcType="INTEGER" />
    	<result column="sid" property="sid" jdbcType="INTEGER" />
    	<result column="uid" property="uid" jdbcType="INTEGER" />
    	<association property="user" javaType="com.ycft.ycft.po.User">
    	    
    	    <id column="userId" property="id" jdbcType="INTEGER" />
		    <result column="sno" property="sno" jdbcType="VARCHAR" />
		    <result column="psd" property="psd" jdbcType="VARCHAR" />
		    <result column="sname" property="sname" jdbcType="VARCHAR" />
		    <result column="tel" property="tel" jdbcType="VARCHAR" />
		    <result column="school" property="school" jdbcType="VARCHAR" />
		    <result column="college" property="college" jdbcType="VARCHAR" />
		    <result column="department" property="department" jdbcType="VARCHAR" />
		    <result column="profession" property="profession" jdbcType="VARCHAR" />
		    <result column="cls" property="cls" jdbcType="VARCHAR" />
		    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
		    <result column="status" property="status" jdbcType="CHAR" />
		    <result column="r1" property="r1" jdbcType="VARCHAR" />
		    <result column="r2" property="r2" jdbcType="VARCHAR" />
		    <result column="r3" property="r3" jdbcType="VARCHAR" />
    	</association>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, uid, coordinate, time, sign_type
  </sql>
  
  <!-- 前台查询签到事件  多写一个username字段即可  -->
  <resultMap id="foreSelSignEventMap" type="com.ycft.ycft.po.SignEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="INTEGER" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="coordinate_name" property="coordinateName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="isdead" property="isdead" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- 客户端方法开始 -->
  <!-- 前台查询签到事件 -->
  <select id="foreSelSignevent" resultMap="foreSelSignEventMap" parameterType="int">
      SELECT sign_event.*,user.sname FROM sign_event , USER WHERE user.id = sign_event.uid
      order by time desc limit #{0} , #{1}
  </select>
  <!-- 查询该人是不是可以签到 -->
  <select id="selSignByUidAndSid" resultType="int" parameterType="java.lang.Integer" >
  	  select count(id) from sign where uid = #{0} and sid = #{1}
  </select>
  <!-- 前台点击签到 -->
  <insert id="insertSign" parameterType="java.lang.Integer">
      insert into sign (sid,uid) values(#{0} , #{1} )
  </insert>
  <!-- 查询我的签到 -->
  <select id="selSignByUid" parameterType="java.lang.Integer" resultMap="foreSelSignEventMap">
       SELECT sign_event.*,user.sname FROM sign_event , USER WHERE user.id = sign_event.uid
       and sign_event.uid = #{0}
      order by time desc limit #{1} , #{2}  
  </select>
  <!-- 查询详情根据id -->
  <select id="selDetailById" parameterType="java.lang.Integer" resultMap="foreSelSignEventMap">
        SELECT sign_event.*,user.sname FROM sign_event , USER WHERE user.id = sign_event.uid
      and sign_event.id = #{value}
  </select>
  <!-- 更改签到状态 -->
  <update id="updateIsDead" parameterType="java.lang.Integer">
      update sign_event set isdead = 1 where id = #{value}
  </update>
  <!-- 客户端方法结束 -->
  <!-- 服务端方法开始 -->
  <select id="selSignUser" resultMap="SigneventUser" parameterType="com.ycft.ycft.po.SignEvent">
       SELECT sign_event.id eid,NAME,TIME,sign.id signId,user.id userId,sno,sname,tel,school,college,department,profession,cls 
  FROM sign_event,SIGN,USER WHERE sign.sid = sign_event.id AND sign.uid = user.id
  	<if test="id != null" >
       and sign_event.id = #{id}
    </if>
	<if test="uid != null" >
       and sign_event.uid = #{uid}
    </if>
  </select>
  <select id="selEvent" resultType="com.ycft.ycft.po.SignEvent" parameterType="com.ycft.ycft.po.SignEvent">
      select id,name from sign_event
      <if test="uid != null" >
       where uid = #{uid}
    </if>
  </select>
  
  <select id="conditionSel" parameterType="com.ycft.ycft.po.User" resultType="java.lang.Integer" >
  	select count(*) 
  	from SIGN,sign_event,USER 
  	where sign.sid = sign_event.id AND sign.uid =user.id and sign_event.id = #{id,jdbcType=INTEGER}
  	<if test="college != null">
  		and college = #{college,jdbcType=VARCHAR}
  	</if> 
  	<if test="department != null">
  		and department = #{department,jdbcType=VARCHAR}
  	</if> 
  	<if test="profession != null">
  		and profession = #{profession,jdbcType=VARCHAR}
  	</if> 
  	<if test="cls != null">
  		and cls = #{cls,jdbcType=VARCHAR}
  	</if> 
  </select>
  <select id="conditionSelUser" resultType="java.lang.Integer" parameterType="com.ycft.ycft.po.User">
  	select COUNT(*) 
  	from USER 
  	where 1 = 1
  	<if test="college != null">
  		and college = #{college,jdbcType=VARCHAR}
  	</if> 
  	<if test="department != null">
  		and department = #{department,jdbcType=VARCHAR}
  	</if> 
  	<if test="profession != null">
  		and profession = #{profession,jdbcType=VARCHAR}
  	</if> 
  	<if test="cls != null">
  		and cls = #{cls,jdbcType=VARCHAR}
  	</if> 
  </select>
 <!-- 服务端方法结束  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sign_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sign_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycft.ycft.po.SignEvent" >
    insert into sign_event (id, name, uid, 
      coordinate, time, sign_type
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{coordinate,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ycft.ycft.po.SignEvent" >
    insert into sign_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
      <if test="coordinateName != null" >
        coordinate_name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="signType != null" >
        sign_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="coordinateName != null" >
        #{coordinateName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycft.ycft.po.SignEvent" >
    update sign_event
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="coordinate != null" >
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycft.ycft.po.SignEvent" >
    update sign_event
    set name = #{name,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      sign_type = #{signType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>