<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycft.ycft.mapper.SlideMapper" >
    <!-- 由于多个sql session都需要查询幻灯片，而且幻灯片更换次数不频繁 所以
    开启二级缓存 -->
  <cache></cache>
  <resultMap id="BaseResultMap" type="com.ycft.ycft.po.Slide" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="LONGVARBINARY" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, time
  </sql>
  <!-- 带图片的字段 -->
  <sql id="all_Column_List" >
     id, name, time , img, content
  </sql>
  <!-- 查询轮播图 缓存
  		使用缓存策略
  -->
   <select id="selectAll" useCache="true" resultMap="BaseResultMap">
       select <include refid="all_Column_List"></include>
       from slide order by time desc
   </select>
</mapper>