<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycft.ycft.mapper.TitleMapper" >
  <resultMap id="BaseResultMap" type="com.ycft.ycft.po.Title" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CustomizeResultMap" type="com.ycft.ycft.po.TitleContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ycft.ycft.po.TitleContent" extends="CustomizeResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, time, user, type, praise, img_name
  </sql>
  
  <!-- 客户端方法开始 -->
  <!-- 根据点赞数数量排序 -->
  <select id="selectByPraiseCount" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
      	select <include refid="Base_Column_List"></include>
      	from title order by praise desc limit 0 , #{value}
  </select>
  <!-- 根据发布时间排序 -->
  <select id="selectByTime" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
      select <include refid="Base_Column_List"></include>
      from title order by time desc 
      limit #{0} , #{1}
  </select>
  <!-- 客户端方法 结束 -->
  
  <!-- 服务端方法开始 -->
  <select id="selByCount" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * 
		from title where type = #{0} order by time desc 
  </select>
  
  <select id="selAllTwo" resultMap="ResultMapWithBLOBs">
  		SELECT title.id,NAME,TIME,USER,img_name,TEXT 
  		FROM content,title 
  		WHERE title.id = content.tid AND TYPE = 2
  </select>
  
  <select id="selAllTwoById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
  		SELECT title.id,NAME,TIME,USER,img_name,TEXT 
  		FROM content,title 
  		WHERE title.id = content.tid AND TYPE = 2 AND title.id = #{1}
  </select>
  <!-- 服务端方法结束 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from title
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from title
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycft.ycft.po.Title" >
    insert into title (id, name, time, 
      user, type, praise, 
      img_name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{user,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{praise,jdbcType=INTEGER}, 
      #{imgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ycft.ycft.po.Title" >
    insert into title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycft.ycft.po.Title" >
    update title
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycft.ycft.po.Title" >
    update title
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      praise = #{praise,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertTitle" parameterType="com.ycft.ycft.po.Title">
		<!-- 将插入数据的主键返回，返回到User对象中 -->
		<!-- keyProperty：将查询到的主键值设置到parameterType对象的哪个属性中 -->
		<!-- order：SELECT LAST_INSERT_ID()语句的执行顺序（相对于insert语句来说的执行顺序） -->
		<!-- resultType：指定SELECT LAST_INSERT_ID()语句的结果类型 -->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			<!-- SELECT LAST_INSERT_ID()：得到刚insert到数据表中的记录的主键值，只适用于自增主键 -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
    </trim>
	</insert>
</mapper>