<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycft.ycft.mapper.TitleMapper" >
  <resultMap id="BaseResultMap" type="com.ycft.ycft.po.Title" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CustomizeResultMap" type="com.ycft.ycft.po.TitleContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ycft.ycft.po.TitleContent" extends="CustomizeResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
	<resultMap id="TitleComment" type="com.ycft.ycft.po.Title">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <collection property="commentList" ofType="com.ycft.ycft.po.Comment">
	    <result column="cid" property="id" jdbcType="INTEGER" />
	    <result column="uid" property="uid" jdbcType="INTEGER" />
	    <result column="tid" property="tid" jdbcType="INTEGER" />
	    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, time, user, type, praise, img_name
  </sql>
  
  <!-- 客户端方法开始 -->
  <resultMap id="ActivityResultMap" type="com.ycft.ycft.po.Title" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="cnt" property="cnt" jdbcType="INTEGER" />
  </resultMap>
  <!-- 论坛查询返回Map -->
  <resultMap id="ForumResultMap" type="com.ycft.ycft.po.Forum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" /> 
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" /> 
    <!-- 文本 -->
    <result column="text" property="text" jdbcType="LONGVARCHAR" /> 
    <!-- 评论数 -->
    <result column="cmtcnts" property="cmtcnts" jdbcType="INTEGER"/>
    <!-- 用户ID -->
    <result column="userid" property="userid" jdbcType="INTEGER"/>
    <!-- 用户名 -->
    <result column="username" property="userName" jdbcType="VARCHAR"/>
    <!-- 用户头像 -->
    <result column="userimg" property="userImg" jdbcType="LONGVARBINARY"/>
    <!-- 用户头像名 -->
    <result column="userimgname" property="userImgName" jdbcType="VARCHAR"/>
    <!-- 三张图片 -->
    <result column="img1_name" property="img1Name" jdbcType="VARCHAR"/>
    <result column="img2_name" property="img2Name" jdbcType="VARCHAR"/>
    <result column="img3_name" property="img3Name" jdbcType="VARCHAR"/>
  </resultMap>
  <!-- 显示文章详情和评论  [一对多] -->
   <resultMap id="ForumDetailResultMap" type="com.ycft.ycft.po.Forum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" /> 
    <!-- 发布用户名-->
    <result column="user" property="user" jdbcType="INTEGER"/>
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" /> 
    <!-- 发布用户Id -->
    <result column="uid" property="uid" jdbcType="INTEGER" /> 
   
    <!-- 文本 -->
    <result column="text" property="text" jdbcType="LONGVARCHAR" /> 
    <!-- 用户名 -->
    <result column="username" property="userName" jdbcType="VARCHAR"/>
    <!-- 用户头像 -->
    <result column="userimg" property="userImg" jdbcType="LONGVARBINARY"/>
    <!-- 用户头像名 -->
    <result column="userimgname" property="userImgName" jdbcType="VARCHAR"/>
    <collection property="commentList" ofType="com.ycft.ycft.po.Comment" >
 		<id column="cid" property="id" jdbcType="INTEGER" />
	    <result column="ctime" property="time" jdbcType="LONGVARCHAR" />
	    <result column="csname" property="sname" jdbcType="LONGVARCHAR" />
	    <result column="cuid" property="uid" jdbcType="INTEGER" />
	    <result column="ccontent" property="content" jdbcType="LONGVARCHAR" />
	    <result column="csname" property="sname" jdbcType="LONGVARCHAR" />
    </collection>
    <!-- 对应多个评论 --> 
  </resultMap>
  <!-- 查文章 详情 -->
  <select id="selDetail" parameterType="java.lang.Integer" resultMap="ForumResultMap">
        <!-- 评论数  -->
       SELECT  title.*,content.*
      <!-- 用户姓名和头像信息 -->
      ,user.id userid , user.sname username,user.img userimg,user.img_name userimgname 
      <!-- 评论表 文章表  用户表 -->
      FROM  title,content, USER   
      WHERE title.uid = user.id   
      AND title.id = content.tid
      <!-- 4代表是论坛文章 -->
      AND title.type = 4    
      and title.id = #{value}
  </select>
  
      
  <!--  [查询文章]根据点赞数数量排序-->
  <select id="selectByPraiseCount" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
      	select <include refid="Base_Column_List"></include>
      	from title where type = #{0} order by praise desc limit 0 , #{1}
  </select>
  <!-- [查询文章]根据发布时间排序 -->
  <select id="selectByTime" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
      select <include refid="Base_Column_List"></include>
      from title where type = #{0} order by time desc 
      limit #{1} , #{2}
  </select>
  <!-- 查询活动 并显示报名人数 -->
  <select id="selectByTimeAndCount" parameterType="java.lang.Integer" resultMap="ActivityResultMap">
      SELECT  title.*,COUNT(*) cnt FROM activity,title 
      WHERE activity.tid = title.id and title.type = 3 GROUP BY activity.tid order by title.time desc limit #{0} , #{1}
  </select>
  <!-- 活动报名 -->
  <insert id="insertActivity" parameterType="java.lang.Integer" >
	  insert into activity(tid , uid) values( #{0} , #{1} )      
  </insert>
  <!-- 查询用户是否参加过活动 -->
  <select id="selectActivityByTidUid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select count(*) from activity where tid = #{0} and uid = #{1}
  </select>
  <!-- 论坛查询 -->
  <select id="selectForum" resultMap="ForumResultMap" parameterType="java.lang.Integer">
      <!-- 评论数  -->
       SELECT  title.*,content.*
      <!-- 用户姓名和头像信息 -->
      ,user.id userid , user.sname username,user.img userimg,user.img_name userimgname 
      <!-- 评论表 文章表  用户表 -->
      FROM  title,content, USER   
      WHERE title.uid = user.id   
      AND title.id = content.tid
      <!-- 4代表是论坛文章 -->
      AND title.type = 4    
      <!--  根据时间降序 -->
      ORDER BY title.time DESC
      limit #{0} , #{1}
  </select>
  <!-- 插入用户评论 -->
  <insert id="insertComment" parameterType="Comment">
      
      insert into comment(uid,tid,content,time) values
      (#{uid},#{tid},#{content},#{time})
  </insert>
  <!-- 插入论坛type=4 -->
  <insert id="insertForum" parameterType="Title" >
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
      insert into title(name , time    , type , uid )
      values
      ( #{name} , #{time}     , #{type} , #{uid} )
  </insert>
  <!-- 客户端方法 结束 -->
  
  <!-- 服务端方法开始 -->
  <select id="selByCount" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * 
		from title where type = #{0} order by time desc 
  </select>
  
  <select id="selAllByType" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
  		SELECT title.id,NAME,TIME,USER,title.img_name,TEXT,praise,user.sname
  		FROM content,title,USER 
  		WHERE title.uid  = user.id AND title.id = content.tid AND TYPE = #{1}
  </select>
  
  <select id="selAllByTypeAndId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
  		SELECT title.id,NAME,TIME,USER,title.img_name,TEXT,praise,user.sname
  		FROM content,title,USER 
  		WHERE title.uid  = user.id AND title.id = content.tid AND TYPE = #{0} AND title.id = #{1}
  </select>
  <insert id="insertTitle" parameterType="com.ycft.ycft.po.Title">
		<!-- 将插入数据的主键返回，返回到User对象中 -->
		<!-- keyProperty：将查询到的主键值设置到parameterType对象的哪个属性中 -->
		<!-- order：SELECT LAST_INSERT_ID()语句的执行顺序（相对于insert语句来说的执行顺序） -->
		<!-- resultType：指定SELECT LAST_INSERT_ID()语句的结果类型 -->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			<!-- SELECT LAST_INSERT_ID()：得到刚insert到数据表中的记录的主键值，只适用于自增主键 -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
	</insert>
	<select id="selTitleCommentById" resultMap="TitleComment" parameterType="java.lang.Integer">
	    SELECT comment.id cid,content,TIME,USER FROM COMMENT,title 
	    WHERE comment.tid = title.id AND title.id = #{1}
	</select>
  <!-- 服务端方法结束 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from title
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from title
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycft.ycft.po.Title" >
    insert into title (id, name, time, 
      user, type, praise, 
      img_name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{user,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{praise,jdbcType=INTEGER}, 
      #{imgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ycft.ycft.po.Title" >
    insert into title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
       <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycft.ycft.po.Title" >
    update title
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="praise != null" >
        praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycft.ycft.po.Title" >
    update title
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      praise = #{praise,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>